<%# TODO: Pop-over with description %>
<%= link_to server_path(@server), class: merge_classes('flex px-3 py-1 border-l-2 border-r-2 border-transparent rounded-md hover:bg-gray-200 hover:shadow-inner hover:border-gray-600', @additional_classes), **@options do %>
  <div class="flex flex-col flex-1">
    <div class="overflow-hidden text-sm text-gray-900 whitespace-no-wrap">
      <%= @server.name %>
    </div>
    <div class="text-sm leading-4 text-gray-500">
      <%= @server.hostname_and_port %>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center flex-none w-12 ml-3 text-sm text-gray-700">
    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
    <div class="flex justify-center w-12 overflow-hidden leading-6 whitespace-no-wrap">
      <%= number_with_delimiter(@server.locations.size) %>
    </div>
  </div>
<% end %>
