<% if notice.present? %>
  <div class="flex flex-col p-5 text-green-600 bg-green-100 rounded-lg" data-controller="dismissible">
    <div class="flex items-center">
      <%= inline_svg "icons/check-circle-solid.svg", class: "flex-none w-5 h-5" %>
      <div class="flex-1 ml-2 font-medium text-green-800">
        Operation successful
      </div>
    </div>
    <div class="flex mt-3">
      <div class="flex-none w-5"></div>
      <div class="flex flex-col flex-1 ml-2">
        <div class="text-sm">
          <%= notice %>
        </div>
        <div class="mt-3">
          <button class="font-medium text-green-800 cursor-pointer hover:text-green-900" data-action="dismissible#dismiss">
            Dismiss
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
