<% if record.errors.any? %>
  <div class="flex flex-col p-5 text-red-600 bg-red-100 rounded-lg" data-controller="dismissible">
    <div class="flex items-center">
      <%= inline_svg 'icons/x-circle-solid.svg', class: 'w-5 h-5' %>
      <div class="flex-1 ml-2 font-medium text-red-800">
        There were <%= pluralize(record.errors.size, 'error') %> errors with your submission
      </div>
    </div>
    <div class="flex mt-3">
      <div class="flex-none w-5"></div>
      <div class="flex flex-col flex-1 ml-2">
        <ul class="text-sm leading-6 list-disc list-inside">
          <% record.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
        <div class="mt-3">
          <button class="font-medium text-red-800 cursor-pointer hover:text-red-900" data-action="dismissible#dismiss">
            Dismiss
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
